/**
 * index
 * 样式入口，引入其他所有基础style的定义，并提供一些公用的css
 */
@import "./custom-element.scss";
@import "./mixins.scss";
@import "./util.scss";

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // background: #f5f7f9;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
  sans-serif;
}

label {
  font-weight: 500;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--bg-standard-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* 清空内边距 */
.no-padding {
  padding: 0 !important;
}

/* 清除浮动 */
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}

// 自定义设计面板中tab的样式
.custom-tabs {
  .el-tabs__header {
    margin: 0;

    .el-tabs__nav-wrap::after {
      height: 1px;
      z-index: 0;
      background: var(--border-standard-color);
    }

    .el-tabs__active-bar {
      background: var(--primary-color);
      z-index: 0;
    }

    .el-tabs__item {
      font-size: var(--font-size-14);
      color: var(--text-content-color);

      &.is-active {
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

// 自定义设计面包中el-drawer的样式
.custom-drawer {
  .el-drawer__header {
    margin-bottom: 0;
    padding: 16px 12px;
  }

  .el-drawer__body {
    padding: 12px;
  }
}

.custom-drawer-no-modal {
  background: none;
}

// 自定义设计面板中el-collapse样式
.custom-collapse {
  border: none;

  .el-collapse-item {
    &.is-active {

    }

    .el-collapse-item__header {
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-bold);
      color: var(--text-content-color);
      border-bottom: 1px solid var(--border-standard-color);

      .el-icon {
        margin-right: 4px;
      }
    }

    .el-collapse-item__wrap {
      background: var(--bg-white-color);

      .el-collapse-item__content {
        padding: 0;
        border: none;
      }
    }

  }
}

// 自定义设计面板中的拖拽容器公用样式
.custom-vue-draggable {
  width: 100%;
  height: 100%;

  // 拖拽容器内无组件的默认提示
  &.no-widget {
    position: relative;
    background: rgba(246, 247, 249, 0.5);
    min-height: 40px;

    &::before {
      content: "请从左侧列表中选择组件，然后用鼠标拖动组件放置于此处";
      color: var(--text-desc-color);
      font-size: var(--font-size-14);
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // 左侧菜单中拖拽的元素标签样式
  .widget-drag-tag {
    display: inline-flex;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin: 0 !important;
    justify-content: flex-start;
    transition: all 0.15s;
    background: var(--bg-white-color);
    border: solid 1px var(--border-standard-color);
    border-radius: var(--cmp-border-radius);
    font-size: var(--font-size-14);
    color: var(--text-content-color);
    padding: 0 8px;
    cursor: default;

    &:hover {
      background: var(--el-tag-bg-color);
      color: var(--primary-color);
      border: solid 1px var(--border-deep-color);

      .el-icon {
        color: var(--primary-color);
      }
    }

    .el-tag__content {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .el-icon {
      color: var(--text-content-color);
      height: auto;
      width: auto;
      vertical-align: middle;
      position: relative;
      top: -2px;
      cursor: default;
    }
  }

  // 设计器组件元素样式
  .widget-wrapper {
    // 调这个margin加大间距，可以更好拖入一点
    margin-bottom: 4px;
    position: relative;

    &:hover {
      outline: dashed 1px var(--primary-color);
    }

    // 设计器组件选中的样式
    &.selected {
      outline: solid 1px var(--primary-color);
    }


    // 被选中项的样式
    &.widget-chosen-class {
      outline: solid 2px var(--primary-color);

      .widget-drag-handler {
        opacity: 1;
      }
    }

    // 拖拽项样式
    &.widget-drag-class {
      overflow: hidden;
      cursor: move;

      .widget-drag-handler {
        opacity: 1;
      }

      .widget-drag-action {
        display: none;
      }
    }

    // 拖拽停靠位置样式
    &.widget-ghost-class {
      /*       height: 0;
            overflow: hidden;
            position: relative; */

      /*       &::after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: var(--primary-color);
              z-index: 1;
            } */
    }

    // 拖拽把柄
    .widget-drag-handler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      font-size: var(--font-size-12);
      background: var(--primary-color);
      color: var(--text-white-color);
      display: inline-flex;
      align-items: center;
      height: 20px;
      line-height: 20px;
      padding: 0 8px 0 4px;
      opacity: 0.7;
      cursor: move;

      .el-icon {
        margin-right: 2px;
      }
    }

    // 拖拽操作
    .widget-drag-action {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: var(--primary-color);
      color: var(--text-white-color);
      display: inline-flex;
      align-items: center;
      height: 20px;
      line-height: 20px;
      padding: 0 4px 0 4px;

      .el-icon {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
  }
}

