/* 默认主题 */
:root,
:root[theme-mode="default"] {
  // 主题色
  --primary-color: var(--el-color-primary);
  --info-color: var(--el-color-info);
  --success-color: var(--el-color-success);
  --warning-color: var(--el-color-warning);
  --error-color: var(--el-color-error);
  // 文字颜色
  --text-title-color: #1d2129; // 文字标题
  --text-content-color: #495057; // 文字正文
  --text-desc-color: #868e96; // 文字描述
  --text-disabled-color: #c0c4cc; // 禁用文字
  --text-placeholder-color: #c0c4cc; // 占位文字
  --text-white-color: #ffffff; // 白色
  // 边框颜色
  --border-standard-color: #dcdee2; // 常规
  --border-deep-color: #c9cdd4; // 深
  --border-light-color: #f8f9fa; // 浅
  // 背景色
  --bg-standard-color: #f2f3f5; // 常规
  --bg-deep-color: #e5e6eb; // 深
  --bg-light-color: #f8f9fa; // 浅
  --bg-white-color: #ffffff; // 白
  --bg-dark-color: #1d2129; // 白
  // 功能色
  --border-table-td-color: #dcdee2; // 表格边框背景色
  --bg-disabled-color: #f3f3f3; // 禁用的背景色
  --bg-light-hover-color: #f8f9fa; // 浅色hover背景色
  --bg-scroller-color: #eee; // 滚动条背景色
  // 投影色
  --shadow-standard: 0px 4px 12px rgba(29, 33, 41, 0.1); // 常规
  --shadow-light: 0px 2px 6px rgba(29, 33, 41, 0.16); // 浅
  --shadow-deep: 0px 12px 24px rgba(29, 33, 41, 0.16); // 深
}

/* 系统变量 */
:root,
:root[theme-mode="default"] {
  // 字体大小
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  // 字重
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-bold: bold;
  // 间距
  --sp2: 2px;
  --sp4: 4px;
  --sp8: 8px;
  --sp12: 12px;
  --sp16: 16px;
  --sp24: 24px;
  --sp32: 32px;
  --sp40: 40px;
  --sp48: 48px;
  --sp56: 56px;
  --sp64: 64px;

}

/* 组件变量 */
:root,
:root[theme-mode="default"] {
  // 组件尺寸-default
  --cmp-size: 32px; // 组件大小，一般用在输入框，按钮等高度
  --cmp-padding: 8px; // 组件内边距
  --cmp-margin: 8px; // 组件外边距
  --cmp-font-size: var(--font-size-14); // 组件文字大小，会根据不同尺寸区分
  --cmp-border-radius: 2px; // 组件圆角
  --cmp-radius-radius-elliptic: 32px; // 组件圆角椭圆形
  --cmp-radius-radius-circle: 50%; // 组件圆角圆形
  // 组件尺寸-large
  --cmp-large-size: 40px;
  --cmp-large-padding: 12px;
  --cmp-large-margin: 12px;
  --cmp-large-font-size: var(--font-size-16);
  --cmp-large-border-radius: 4px;
  // 组件尺寸-small
  --cmp-small-size: 24px;
  --cmp-small-padding: 4px;
  --cmp-small-margin: 4px;
  --cmp-small-font-size: var(--font-size-12);
  --cmp-small-border-radius: 2px;
}
