/**
 * 平台提供的default主题
 * @description 主题可以分为 light明亮 和 dark暗黑 两种模式
 */

/* 主题变量 */
// default主题-亮色
:root,
:root[theme-color='default'][theme-mode='light'] {
  // 主题色（默认取第6个色度）
  --primary-color: var(--primary-color-6);
  --info-color: var(--info-color-6);
  --success-color: var(--success-color-6);
  --warning-color: var(--warning-color-6);
  --danger-color: var(--danger-color-6);

  // 主要颜色-色板
  --primary-color-1: #ebf8ff;
  --primary-color-2: #c2e8ff;
  --primary-color-3: #99d5ff;
  --primary-color-4: #70bfff;
  --primary-color-5: #46a3fa;
  --primary-color-6: #1c83ee;
  --primary-color-7: #0e61c7;
  --primary-color-8: #0345a1;
  --primary-color-9: #002f7a;
  --primary-color-10: #001d54;
  // 主要颜色-功能色
  --primary-hover-color: var(--primary-color-5);
  --primary-focus-color: var(--primary-color-7);
  --primary-active-color: var(--primary-color-8);
  --primary-disabled-color: var(--primary-color-2);

  // 信息颜色-色板
  --info-color-1: #f7f8fa;
  --info-color-2: #f2f3f5;
  --info-color-3: #e5e6eb;
  --info-color-4: #c9cdd4;
  --info-color-5: #a9aeb8;
  --info-color-6: #86909c;
  --info-color-7: #6b7785;
  --info-color-8: #4e5969;
  --info-color-9: #272e3b;
  --info-color-10: #1d2129;
  // 信息颜色-功能色
  --info-hover-color: var(--info-color-5);
  --info-focus-color: var(--info-color-7);
  --info-active-color: var(--info-color-8);
  --info-disabled-color: var(--info-color-2);

  // 成功颜色-色板
  --success-color-1: #e8fae1;
  --success-color-2: #b7eda4;
  --success-color-3: #90e077;
  --success-color-4: #69d44e;
  --success-color-5: #44c72a;
  --success-color-6: #22ba0a;
  --success-color-7: #0f9400;
  --success-color-8: #076e00;
  --success-color-9: #024700;
  --success-color-10: #002100;
  // 成功颜色-功能色
  --success-hover-color: var(--success-color-5);
  --success-focus-color: var(--success-color-7);
  --success-active-color: var(--success-color-8);
  --success-disabled-color: var(--success-color-2);

  // 警告颜色-色板
  --warning-color-1: #fff8eb;
  --warning-color-2: #ffe7c2;
  --warning-color-3: #ffd399;
  --warning-color-4: #ffbc70;
  --warning-color-5: #faa046;
  --warning-color-6: #ee7f1d;
  --warning-color-7: #c75e0e;
  --warning-color-8: #a14203;
  --warning-color-9: #7a2d00;
  --warning-color-10: #541c00;
  // 警告颜色-功能色
  --warning-hover-color: var(--warning-color-5);
  --warning-focus-color: var(--warning-color-7);
  --warning-active-color: var(--warning-color-8);
  --warning-disabled-color: var(--warning-color-2);

  // 错误颜色-色板
  --danger-color-1: #ffedeb;
  --danger-color-2: #ffc8c2;
  --danger-color-3: #ffa099;
  --danger-color-4: #ff7570;
  --danger-color-5: #fa4646;
  --danger-color-6: #ee1c24;
  --danger-color-7: #c70e1a;
  --danger-color-8: #a10313;
  --danger-color-9: #7a0010;
  --danger-color-10: #54000e;
  // 错误颜色-功能色
  --danger-hover-color: var(--danger-color-5);
  --danger-focus-color: var(--danger-color-7);
  --danger-active-color: var(--danger-color-8);
  --danger-disabled-color: var(--danger-color-2);

  // 文字颜色
  --text-title-color: #282b2e; // 文字标题
  --text-content-color: #495057; // 文字正文
  --text-desc-color: #808e96; // 文字描述
  --text-placeholder-color: #c0c4cc; // 占位文字
  --text-disabled-color: #c0c4cc; // 禁用文字
  --text-white-color: #ffffff; // 白色

  // 边框颜色
  --border-color: #dcdee2; // 常规
  --border-light-color: #f2f3f5; // 浅
  --border-deep-color: #c9cdd4; // 深
  --border-heavy-color: #86909c; // 重

  // 背景颜色
  --bg-color: #ffffff; // 常规
  --bg-white-color: #ffffff; // 白
  --bg-dark-color: #1d2129; // 黑
  --bg-page-color: #f8f9fa; // 页面背景

  // 填充颜色
  --fill-color: #f5f7f9; // 常规
  --fill-light-color: #f7f7f8; // 浅
  --fill-deep-color: #e5e6eb; // 深
  --fill-heavy-color: #c9cdd4; // 重
  // 填充颜色-功能色
  --fill-hover-color: #f2f3f5; // 常规-hover
  --fill-active-color: #f2f3f5; // 常规-active
  --fill-light-hover-color: #f5f7f9; // 浅-hover
  --fill-light-active-color: #f5f7f9; // 浅-active
  --fill-deep-hover-color: #c9cdd4; // 深-hover
  --fill-deep-active-color: #c9cdd4; // 深-active
  --fill-heavy-hover-color: #86909c; // 重-hover
  --fill-heavy-active-color: #86909c; // 重-active

  // 投影色
  --shadow: 0px 4px 8px rgba(28, 131, 238, 0.12); // 常规
  --shadow-light: 0px 4px 8px rgba(28, 131, 238, 0.12); // 浅
  --shadow-deep: 0px 4px 8px rgba(28, 131, 238, 0.12); // 深
}
