/**
 * 默认主题
 */
:root,
:root[theme-mode='light'] {
  // 主题色
  --primary-color: var(--primary-light-color-6);
  --info-color: var(--info-light-color-6);
  --success-color: var(--success-light-color-6);
  --warning-color: var(--warning-light-color-6);
  --danger-color: var(--danger-light-color-6);

  // 主要颜色-色板
  --primary-light-color-1: #e7f2fe;
  --primary-light-color-2: #bad9fa;
  --primary-light-color-3: #8dc1f6;
  --primary-light-color-4: #5fa8f3;
  --primary-light-color-5: #328fef;
  --primary-light-color-6: #1c83ee;
  --primary-light-color-7: #1974d4;
  --primary-light-color-8: #1666ba;
  --primary-light-color-9: #1358a1;
  --primary-light-color-10: #104a87;
  // 主要颜色-功能色
  --primary-hover-color: var(--primary-light-color-5);
  --primary-focus-color: var(--primary-light-color-7);
  --primary-active-color: var(--primary-light-color-8);
  --primary-disabled-color: var(--primary-light-color-2);
  --primary-light-color: var(--primary-light-color-1);
  --primary-light-hover-color: var(--primary-light-color-2);
  --primary-deep-color: var(--primary-light-color-8);
  --primary-deep-hover-color: var(--primary-light-color-9);

  // 信息颜色-色板
  --info-light-color-1: #dcdee2;
  --info-light-color-2: #c0c4cc;
  --info-light-color-3: #a9b4bb;
  --info-light-color-4: #808e96;
  --info-light-color-5: #5c6771;
  --info-light-color-6: #495057;
  --info-light-color-7: #404447;
  --info-light-color-8: #323638;
  --info-light-color-9: #282b2e;
  --info-light-color-10: #282b2e;
  // 信息颜色-功能色
  --info-hover-color: var(--info-light-color-5);
  --info-focus-color: var(--info-light-color-7);
  --info-active-color: var(--info-light-color-8);
  --info-disabled-color: var(--info-light-color-2);
  --info-light-color: var(--info-light-color-1);
  --info-light-hover-color: var(--info-light-color-2);
  --info-deep-color: var(--info-light-color-8);
  --info-deep-hover-color: var(--info-light-color-9);

  // 成功颜色-色板
  --success-light-color-1: #e8f8e6;
  --success-light-color-2: #bceab5;
  --success-light-color-3: #90dc84;
  --success-light-color-4: #63ce53;
  --success-light-color-5: #37c022;
  --success-light-color-6: #22ba0a;
  --success-light-color-7: #1c9908;
  --success-light-color-8: #178007;
  --success-light-color-9: #136605;
  --success-light-color-10: #0e4d04;
  // 成功颜色-功能色
  --success-hover-color: var(--success-light-color-5);
  --success-focus-color: var(--success-light-color-7);
  --success-active-color: var(--success-light-color-8);
  --success-disabled-color: var(--success-light-color-2);
  --success-light-color: var(--success-light-color-1);
  --success-light-hover-color: var(--success-light-color-2);
  --success-deep-color: var(--success-light-color-8);
  --success-deep-hover-color: var(--success-light-color-9);

  // 警告颜色-色板
  --warning-light-color-1: #fef2e8;
  --warning-light-color-2: #fad8ba;
  --warning-light-color-3: #f6be8d;
  --warning-light-color-4: #f3a560;
  --warning-light-color-5: #ef8b33;
  --warning-light-color-6: #ee7f1d;
  --warning-light-color-7: #d17b2f;
  --warning-light-color-8: #ba6e2c;
  --warning-light-color-9: #a3622a;
  --warning-light-color-10: #8a5323;
  // 警告颜色-功能色
  --warning-hover-color: var(--warning-light-color-5);
  --warning-focus-color: var(--warning-light-color-7);
  --warning-active-color: var(--warning-light-color-8);
  --warning-disabled-color: var(--warning-light-color-2);
  --warning-light-color: var(--warning-light-color-1);
  --warning-light-hover-color: var(--warning-light-color-2);
  --warning-deep-color: var(--warning-light-color-8);
  --warning-deep-hover-color: var(--warning-light-color-9);

  // 错误颜色-色板
  --danger-light-color-1: #fee7e8;
  --danger-light-color-2: #fababc;
  --danger-light-color-3: #f68d91;
  --danger-light-color-4: #f35f65;
  --danger-light-color-5: #ef3239;
  --danger-light-color-6: #ee1c24;
  --danger-light-color-7: #cc181f;
  --danger-light-color-8: #b3151b;
  --danger-light-color-9: #991217;
  --danger-light-color-10: #800f13;
  // 错误颜色-功能色
  --danger-hover-color: var(--danger-light-color-5);
  --danger-focus-color: var(--danger-light-color-7);
  --danger-active-color: var(--danger-light-color-8);
  --danger-disabled-color: var(--danger-light-color-2);
  --danger-light-color: var(--danger-light-color-1);
  --danger-light-hover-color: var(--danger-light-color-2);
  --danger-deep-color: var(--danger-light-color-8);
  --danger-deep-hover-color: var(--danger-light-color-9);

  // 文字颜色
  --text-title-color: #282b2e; // 文字标题
  --text-content-color: #495057; // 文字正文
  --text-desc-color: #808e96; // 文字描述
  --text-placeholder-color: #c0c4cc; // 占位文字
  --text-disabled-color: #c0c4cc; // 禁用文字
  --text-white-color: #ffffff; // 白色

  // 边框颜色
  --border-color: #dcdee2; // 常规
  --border-light-color: #f8f9fa; // 浅
  --border-deep-color: #c9cdd4; // 深
  // 边框颜色-功能色
  --border-disabled-color: #dcdee2; // 禁用常规
  --border-light-disabled-color: #f8f9fa; // 禁用浅
  --border-deep-disabled-color: #c9cdd4; // 禁用深

  // 背景色
  --bg-color: #f8f9fa; // 常规
  --bg-light-color: #f9f9f9; // 浅
  --bg-deep-color: #e5e6eb; // 深
  --bg-white-color: #ffffff; // 白
  --bg-dark-color: #121314; // 黑
  // 背景色-功能色
  --bg-disabled-color: #f3f3f3; // 禁用常规
  --bg-light-disabled-color: #f5f5f5; // 禁用浅
  --bg-deep-disabled-color: #dcdee2; // 禁用深

  // 投影色
  --shadow: 0px 4px 8px rgba(28, 131, 238, 0.12); // 常规
  --shadow-light: 0px 4px 8px rgba(28, 131, 238, 0.12); // 浅
  --shadow-deep: 0px 4px 8px rgba(28, 131, 238, 0.12); // 深

  // 其他
  --bg-scroller-color: #eee; // 滚动条背景色
}
