/**
 * 平台提供的覆盖element-plus变量文件
 * @description 通过获取定义的主题样式中的变量来覆盖自带的
 */

:root {
  // 主要色
  --el-color-primary: var(--primary-color);
  --el-color-primary-light-3: var(--primary-color-5);
  --el-color-primary-light-5: var(--primary-color-2);
  --el-color-primary-light-7: var(--primary-color-3);
  --el-color-primary-light-8: var(--primary-color-2);
  --el-color-primary-light-9: var(--primary-color-1);
  --el-color-primary-dark-2: var(--primary-color-7);
  // 信息颜色
  --el-color-info: var(--info-color);
  --el-color-info-light-3: var(--info-color-5);
  --el-color-info-light-5: var(--info-color-4);
  --el-color-info-light-7: var(--info-color-3);
  --el-color-info-light-8: var(--info-color-2);
  --el-color-info-light-9: var(--info-color-1);
  --el-color-info-dark-2: var(--info-color-7);
  // 成功颜色
  --el-color-success: var(--success-color);
  --el-color-success-light-3: var(--success-color-5);
  --el-color-success-light-5: var(--success-color-4);
  --el-color-success-light-7: var(--success-color-3);
  --el-color-success-light-8: var(--success-color-2);
  --el-color-success-light-9: var(--success-color-1);
  --el-color-success-dark-2: var(--success-color-7);
  // 警告颜色
  --el-color-warning: var(--warning-color);
  --el-color-warning-light-3: var(--warning-color-5);
  --el-color-warning-light-5: var(--warning-color-4);
  --el-color-warning-light-7: var(--warning-color-3);
  --el-color-warning-light-8: var(--warning-color-2);
  --el-color-warning-light-9: var(--warning-color-1);
  --el-color-warning-dark-2: var(--warning-color-7);
  // 错误颜色
  --el-color-danger: var(--danger-color);
  --el-color-danger-light-3: var(--danger-color-5);
  --el-color-danger-light-5: var(--danger-color-4);
  --el-color-danger-light-7: var(--danger-color-3);
  --el-color-danger-light-8: var(--danger-color-2);
  --el-color-danger-light-9: var(--danger-color-1);
  --el-color-danger-dark-2: var(--danger-color-7);

  // 文字颜色
  --el-text-color-primary: var(--text-title-color);
  --el-text-color-regular: var(--text-content-color);
  --el-text-color-secondary: var(--text-desc-color);
  --el-text-color-placeholder: var(--text-placeholder-color);
  --el-text-color-disabled: var(--text-disabled-color);

  // 边框色
  --el-border-color: var(--border-color);
  --el-border-color-light: var(--border-light-color);
  --el-border-color-dark: var(--border-deep-color);
  --el-border-color-darker: var(--border-heavy-color);

  // 背景色
  --el-bg-color: var(--bg-color);
  --el-bg-color-page: var(--fill-light-color);

  // 填充色
  --el-fill-color: var(--fill-color);
  --el-fill-color-light: var(--fill-light-color);
  --el-fill-color-dark: var(--fill-deep-color);
  --el-fill-color-darker: var(--fill-heavy-color);

  // 圆角
  --el-border-radius-base: var(--cmp-border-radius);
  --el-border-radius-small: var(--cmp-small-border-radius);
  --el-border-radius-round: var(--border-radius-round);
  --el-border-radius-circle: var(--border-radius-circle);

  // 动作时间
  --el-transition-duration: var(--transition-duration);
  --el-transition-duration-fast: var(--transition-duration-fast);

  // 组件尺寸
  --el-component-size: var(--cmp-size);
  --el-component-size-small: var(--cmp-size-small);
  --el-component-size-large: var(--cmp-size-large);
}
