/**
 * 主题主入口文件
 * @description 引入主题覆盖element-plus默认，声明不同类型的变量
 */

// 主题-亮色
@import './light.scss';

// 引入element-plus变量
@import './element-plus.scss';

/* 系统变量 */
:root {
  // 常规字体
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  // 大字体
  --font-size-28: 24px;
  --font-size-32: 32px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-56: 56px;
  --font-size-64: 64px;

  // 字重
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-bold: bold;

  // 常规间距
  --sp4: 4px;
  --sp8: 8px;
  --sp12: 12px;
  --sp16: 16px;
  --sp24: 24px;
  // 大间距
  --sp32: 32px;
  --sp40: 40px;
  --sp48: 48px;
  --sp56: 56px;
  --sp64: 64px;

  // 圆角
  --border-radius-none: 0;
  --border-radius: 2px;
  --border-radius-round: 32px;
  --border-radius-circle: 50%;

  // 动作时间
  --transition-duration-none: 0s;
  --transition-duration: 0.2s;
  --transition-duration-fast: 0.1s;
  --transition-duration-slow: 0.3s;
}

/* 组件变量 */
:root {
  // 组件尺寸-default
  --cmp-size: 32px; // 组件大小，一般用在输入框，按钮等高度
  --cmp-padding: 8px; // 组件内边距
  --cmp-margin: 8px; // 组件外边距
  --cmp-font-size: var(--font-size-14); // 组件文字大小
  --cmp-border-radius: 2px; // 组件圆角

  // 组件尺寸-large
  --cmp-large-size: 40px;
  --cmp-large-padding: 12px;
  --cmp-large-margin: 12px;
  --cmp-large-font-size: var(--font-size-16);
  --cmp-large-border-radius: 4px;

  // 组件尺寸-small
  --cmp-small-size: 24px;
  --cmp-small-padding: 4px;
  --cmp-small-margin: 4px;
  --cmp-small-font-size: var(--font-size-12);
  --cmp-small-border-radius: 2px;
}
